// Global layout
.page__header {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.page__main {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.page__sidebar {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.page__footer {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}

// Header layout
.page-header__logo {
  grid-column: 1 / 2;
}

.page-header__main-navigation {
  grid-column: 2 / 3;
}
